*
{
    font-family: 'Raleway', sans-serif;
}

html,body {
    scroll-behavior: smooth;
    overflow-x:hidden;
}
video {
        min-width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        object-fit: fill;
    }

    .bg {
        height: 100%;
        width: 100%;
        background-image: url('./assets/bg-1.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    h5 {
        font-weight: bold;
    }
    p {font-weight: 550;}
    .nav-link,.navbar-brand
    {
        font-weight: bold;
        font-size:1.3rem;
    }

    .nav-item {
        margin-left: 20px;
    }   

    .navbar-collapse
    {
        margin-left: 25%;
    }

    .nav-color
    {
        margin-left: 15%;
    }

    .heading
    {
        position: absolute;
        color:white;
        margin-top:18%;
    }

    .link-btn
    {
        border:1px solid white;
        text-decoration: none;
        color:white;
        border-radius:5px;
        padding:5px 10px 5px 10px;
        transition:all 0.7s;
    }

    .link-btn:hover
    {
        color:black;
        background-color:white;
    }

    .arrow a
    {
        color:white;
    }

    .arrow i:hover
    {
        transform: scale(1.4);
        transition:all 0.6s;
    }

    .video-img
    {
        width: 100%;
        min-height: 390px;
        background-position: 63% 50%;
        background-size: cover;
        background-image: url('./assets/img-2.jpg');
    }

    .align-left
    {
        text-align: left;
    }
    .align-right
    {
        text-align: right;
    }

    .service-data
    {
        border:1px solid grey;
        padding:20px 30px 20px 30px;
        
    }
    @media only screen and (max-width: 768px)
    {
        .nav-color {
        margin-left: 5%;    
        }
        video
        {
            max-width: 100%;
        }

        .heading
        {
            margin-top: 70%;
        }
        .align-left,.align-right
        {
            text-align: center;
        }
    }