*{
  box-sizing: border-box;
font-family: 'Raleway', sans-serif;
}
html,body {
    scroll-behavior: smooth;
    overflow-x:hidden;
     margin:0;
    padding:0;
}

video {
        min-width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        object-fit: fill;
    }

    .bg {
        height: 100%;
        width: 100%;
        background-image: url('./assets/bg-1.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    h5 {
        font-weight: bold;
    }
    p {font-weight: 550;}
    .nav-link,.navbar-brand
    {
        font-weight: bold;
        font-size:1.3rem;
    }

    .nav-item {
        margin-left: 20px;
    }   

    .navbar-collapse
    {
        margin-left: 25%;
    }

    .nav-color
    {
        margin-left: 15%;
    }

    .heading
    {
        position: absolute;
        color:white;
        margin-top:18%;
    }

    .link-btn
    {
        border:1px solid white;
        text-decoration: none;
        color:white;
        border-radius:5px;
        padding:5px 10px 5px 10px;
        transition:all 0.7s;
    }

    .link-btn:hover
    {
        color:black;
        background-color:white;
    }

    .arrow a
    {
        color:white;
    }

    .arrow i:hover
    {
        transform: scale(1.4);
        transition:all 0.6s;
    }

    .video-img
    {
        width: 100%;
        min-height: 390px;
        background-position: 63% 50%;
        background-size: cover;
        background-image: url('./assets/img-2.jpg');
    }

    .align-left
    {
        text-align: left;
    }
    .align-right
    {
        text-align: right;
    }

    .service-data
    {
        border:1px solid grey;
        padding:20px 30px 20px 30px;
        
    }

    .facts
    {
        background-image: linear-gradient(to right, rgba(58, 57, 57, 0.3), rgba(43, 41, 42, 0.3)),url("./assets/fun-fact.jpg");
        background-size: cover;
        width:100%;
min-height: 80%;    }

    .facts-content
    {
        margin-top: 9%;
        position: absolute;
        text-align: center;
        margin-left: 10%;
        color:white;
    }

    .facts-imgs
    {
        position: absolute;
        margin-top:19%
    }

    .img-big
    {
        max-width: 100%;
        height:auto;
    }

    .col-md-1 h1,.col-md-1 p
    {
        color:white;
        font-weight: bold;
    }

    .services-main
    {
        margin-left: 13%;
    }
    .service-blocks
    {
        padding:3%;
        margin-right: 2%;
        transition: all 0.5s;
    }

    .service-blocks:hover
    {
        transform: scale(1.03);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .service-img
    {
        height:auto;
        width:80px;
    }
    @media only screen and (max-width: 768px)
    {
        .nav-color {
        margin-left: 5%;    
        }
        video
        {
            max-width: 100%;
        }

        .heading
        {
            margin-top: 80%;
        }
        .align-left,.align-right
        {
            text-align: center;
        }
        
         .facts-content
         {
             margin-top: 15%;
             margin-left:0;
         }

         .img-big
         {
             max-width: 30%;
         }

         .facts-imgs
         {
             margin-top:50%;
         }

         .facts
         {
             min-height:100%
         }

         .services-main,.service-blocks

    {
        margin-left: 0;
        margin-right:0;
    }
    }